<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détail Prestation</title>
</head>
<body>
    <h1>Détail de la prestation</h1>
    <p><strong>ID :</strong> {{ prestation.id }}</p>
    <p><strong>Libellé :</strong> {{ prestation.libelle }}</p>
    <p><strong>Description :</strong> {{ prestation.description }}</p>
    <p><strong>Tarif :</strong> {{ prestation.tarif }} € / {{ prestation.unite }}</p>
</body>
</html>